

body {
    background: black;
    padding:0;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    color: white;
    position: relative;
    text-align: center;
    vertical-align: center;
}


.containerView, {
    width: 100vw;
    height:100vh;
    position: absolute;
    vertical-align: middle;
    text-align: center;
    
}



#header {
    width: 100%;
    height: 20%;
    text-align: center;
    vertical-align: middle;
    margin-top: 7vh;
    margin-bottom: 5vh;
}
#logo {
    height: 80%;
    max-width: 65%;
    vertical-align: middle;
}

h2 {
    margin-top: auto;
    font-size: 3.2em;
    max-width: 100%;
    height: 3%;
    text-align: center;
    
    
}

h3 {
    margin-top: 10px;
    text-align: left;
    width:  90vw;
}
#buttonContainer #addContainer {
     max-width: 65%;
    margin: auto,0;
}



ul {
    margin-left: 15px;
    list-style-type: none;
    vertical-align: middle;
    
}
button  {
    background: #333333;
    color:white;
    width: 20vw;
    height: 4vh;
    margin-top: 5vh;
    vertical-align: middle;
    text-align: left;
    margin-top: 1.5vh;
    border-style: none;
    
   

}

input {
    background: transparent;
     border-style: none;
    border-bottom:white;
    border-bottom-style:inset;
   


    
}

p { 
    text-align: left;
    width: 92vw;
    overflow: hidden;
}

#addEventContainer containerView {
    width: 100%;
}









/*beginning of diff media platforms */
/*/////////////////////////////////*/
/*/////////////////////////////////*/
/*/////////////////////////////////*/   
@media only screen and (max-width: 670px) {
    h2 {
        margin-top: 10px;
    }
    
    form{
    text-align: center;
    margin-top: 12vh;
    
}
    
    .container-one, .container-two,  {
    margin-top: 2vh;    
    background:#333333; 
    vertical-align: middle;
    text-align: left;
    margin: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    height:20vh;
    width: 95vw;
    padding: 10px;
            
}
    p {
        height: 17vh;
        overflow: auto;
        display: block;
        
    }
    
    
    #addEventContainer containerView{
        width: 100vw;
        height:100vh;
    }

 @media screen and (max-width: 600px) {


}
@media only screen and min-width: 680px and max-width: 1200px) {
   
    
    #homeContainer {
        width: 100vw;
        height: 100vh;
       
        
    }
    
    #homeContainer button {
        vertical-align: middle;
      
      
       
          
    }
    #homeContainer #header {
       
        
    }
    
    #homeContainer h2{
        
        
    }
    
      #homeContainer p{
        
        
    }
    
    #homeContainer  .container-one, .container-two {
    margin-top: 6vh;    
    background:white; 
    vertical-align: middle;
    text-align: left;
    margin: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    height:30vh;
    width: 95vw;
    padding: 10px;
            
}
    
    
    
    
    /*ADDFRIEND*/
    
    #addContainer #header {
        width: 100vw;
        height: 100vh;;
        
    }
    
    #addContainer {
    width: 100vw;
    height:100vh;
    position: absolute;
    vertical-align: middle;
    text-align: center;
    margin: auto,0;
    
}
    #addContainer h2 {
        font: 625px;
        
    }
    
    #addContainer form {
        font: 125px;
        vertical-align: middle;
        width: 100vw;
    }
    
    .container-one, .container-two {
    margin-top: 2vh;    
    background:white; 
    vertical-align: middle;
    text-align: left;
    margin: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    height:20vh;
    width: 95vw;
    padding: 10px;
            
}
    p {
        height: 17vh;
        overflow: auto;
        display: block;
        
    }
    
    
    /*ADD EVENT */
    
    #addEventContainer li{
      text-align: center;
        vertical-align: center;
      
    }
    
    #addEventContainer button {
        position:block;
         width: 100px;;
    }
 
   
}

/*/////////////////////////////////*/
/*/////////////////////////////////*/
/*/////////////////////////////////*/    
footer {
    margin-top: 50px;
    text-align: center;
    float: left;
}
  