body {
    background: black;
    padding:0;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    color: white;
    position: relative;
}


.containerView{
    width: 100vw;
    height:100vh;
    position: absolute;
    
}



#header {
    width: 100%;
    height: 20%;
    text-align: center;
}
#logo {
    margin-top: 5px;
    height: 80%;
    max-width: 65%;
    vertical-align: middle;
}

h2 {
    font-size: 16px;
    width: 100%;
    height: 3%;
    text-align: center;
    
}







/*beginning of diff media platforms */
/*/////////////////////////////////*/
/*/////////////////////////////////*/
/*/////////////////////////////////*/   
@media only screen and (max-width: 680px) {
    h2 {
        margin-top: 
    }
    
    form{
    text-align: center;
    margin-top: 12vh;
}

    

 @media screen and (max-width: 600px) {


}
@media only screen and (max-width: 680px) {
 
   
}

/*/////////////////////////////////*/
/*/////////////////////////////////*/
/*/////////////////////////////////*/    
footer {
    margin-top: 50px;
    text-align: center;
    float: left;
}
  